main {
  min-height: 100vh;
}

h3 {
  margin: 2rem auto;
  font-size: 1.25rem;
}

button {
  height: 3rem;
  font-size: 3rem;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

footer {
  position: relative;
  bottom: 0;
}